.wrapper
  = render "/products/header.html.haml"
  .my-page-background
    .contents-wrapper
      = render "side-bar"
      .pay
        .pay-upper 支払い方法
        .pay-lower
          .pay-lower-box
            .pay-lower-box-title クレジットカード一覧
            .pay-lower-box-btn
              .pay-lower-box-btn-icon
                =icon('far', 'credit-card')
              .pay-lower-box-btn-text クレジットカードを追加する
        .pay-lower-guide
          支払い方法について
          = icon('fas', 'chevron-right')
  = render "/products/footer.html.haml"
  = render "/products/sell-btn.html.haml"