.search
  .search-right
    %section.search-right-container
      - if @search.present?
        %h2.search-right-container-tittle
          = @search
          %span.search-right-container-text
            の検索結果
        .search-right-container-number
          ="1-#{@products.count}件表示"
      - else
        %h2.search-result-nil
          新着商品
      .product__boxs
        %ul.product__boxs-parent
          - @products.each do |products|
            %li.product__boxs-parent-file
              - if products.buyer_id.blank?
                .product__boxs-parent-file-label
                  .sell
                    = 'SELL'
                .product__boxs-parent-file-image
                  = link_to image_tag("#{products.images.first.image}", class: 'image'),product_path(products.id)
                .product__boxs-parent-file-price
                  = ('¥' + products.price.to_s(:delimited))
                .product__boxs-parent-file-content
                  = products.content
              - else
                .product__boxs-parent-file-label
                  .sell
                    = 'SOLD'
                .product__boxs-parent-file-image
                  = link_to image_tag("#{products.images.first.image}", class: 'image'),product_path(products.id)
                .product__boxs-parent-file-price
                  = ('¥' + products.price.to_s(:delimited))
                .product__boxs-parent-file-content
                  = products.content
