.wrapper
  = render "/products/header.html.haml"
  %ul.breadcrumb-list
  - breadcrumb :mypage
  - breadcrumb :card
  = breadcrumbs pretext: "", separator: " &rsaquo; ", class: "mypage-list"
  .my-page-background
    .contents-wrapper
      = render "users/side-bar"
      = render "cards/card_show"

  = render "/products/footer.html.haml"
  = render "/products/sell-btn.html.haml"