.main-flame
  .main-flame-all
    .main-flame-all-box
      .main-flame-all-box-buy_text
        購入内容の確認
      .main-flame-all-box-buy_content
        .main-flame-all-box-buy_content-item
          .main-flame-all-box-buy_content-item_box
            .main-flame-all-box-buy_content-item_box-image
              -# = image_tag("#{product.images.first.image}", class: 'image-fot_buy')
            .main-flame-all-box-buy_content-item_box-detail
              .main-flame-all-box-buy_content-item_box-detail_name
                = @product.name
              .main-flame-all-box-buy_content-item_box-detail_price
                = ('¥' + @product.price.to_s(:delimited))
      .main-flame-all-box-choice
        .main-flame-all-box-choice-flame
          .main-flame-all-box-choice-flame-price
            .main-flame-all-box-choice-flame-price_box
              .main-flame-all-box-choice-flame-price_box_text
                支払い金額
              .main-flame-all-box-choice-flame-price_box_number
                = ('¥' + @product.price.to_s(:delimited) + '(税込)')
            .main-flame-all-box-choice-flame-price_point
              = icon('far', 'square')
              ポイントを使用 (所持ポイント: P300)

          .main-flame-all-box-choice-payment
            .main-flame-all-box-choice-payment-text
              支払い方法
            .main-flame-all-box-choice-payment-registration
              = link_to new_card_path(@product.id), class: "registration_link" do
                = icon('fas', 'plus-circle')
                登録してください

          .main-flame-all-box-choice-delivery
            .main-flame-all-box-choice-delivery-text
              配送先
            .main-flame-all-box-choice-delivery-registration
              = link_to "#", class: "registration_link" do
                = icon('fas', 'plus-circle')
                登録してください
                
          - if @product.buyer_id.blank?
            .main-flame-all-box-choice-buy
              .main-flame-all-box-choice-buy-button
                = link_to '購入する', "", class: 'button_cannot_buy'
          
          - else
            .main-flame-all-box-choice-buy
              .main-flame-all-box-choice-buy-button
                = link_to '購入する', purchase_path, class: 'button_can_buy'