-# 商品一覧表示機能ありのhaml

.main
  .main-advertising
    = image_tag 'img1.jpg', class: 'img-header', id: 'img'
  .main-firest
    .main-firest-top
      .main-firest-top-category
        人気のカテゴリー
      .main-firest-top-items
        .main-firest-top-ladys
          = link_to "レディース","#main-firest-top-ladys-contents"
        .main-firest-top-mens
          = link_to "メンズ","#main-firest-top-mens-contents"
        .main-firest-top-home_appliances
          = link_to "家電・スマホ・カメラ","#main-firest-top-home_appliances-contents"
        .main-firest-top-hobby
          = link_to "おもちゃ・ホビー・グッズ","#main-firest-top-hobby-contents"

    #main-firest-top-contents
      .main-firest-top-contents-new_arrival
      .main-firest-top-photos
        .main-firest-top-photos-items
          .main-firest-top-photos-items-new
            商品新着アイテム
          .main-firest-top-photos-items-look
            = link_to "もっと見る ＞", class:"link"
        %ul.main-firest-top-photos-parent
          - @products.each do |product|
            = link_to (product_path(product.id)) do
              - if product.buyer_id.blank?
                %li.main-firest-top-photos-parent_list
                  .main-firest-top-photos-parent_list-body
                    .main-firest-top-photos-parent_list-body-image
                      = image_tag("#{product.images.first.image}", class: 'image-fot')
                      .main-firest-top-photos-parent_list-body-image-price
                        = ('¥' + product.price.to_s(:delimited))
                    .main-firest-top-photos-parent_list-body-title
                      %figcaption.main-firest-top-photos-parent_list-body-title-a
                        .transparent
                          = product.name
              - else
                %li.main-firest-top-photos-parent_list
                  .main-firest-top-photos-parent_list-body
                    .main-firest-top-photos-parent_list-body-image
                      = image_tag("#{product.images.first.image}", class: 'image-fot')
                      .main-firest-top-photos-parent_list-body-image-sold
                        .main-firest-top-photos-parent_list-body-image-sold_text
                          SOLD
                      .main-firest-top-photos-parent_list-body-image-price
                        = ('¥' + product.price.to_s(:delimited))
                    .main-firest-top-photos-parent_list-body-title
                      %figcaption.main-firest-top-photos-parent_list-body-title-a
                        .transparent
                          = product.name
              