-# 商品一覧表示機能ありのhaml

.main
  .main-advertising
  .main-firest
    .main-firest-top
      .main-firest-top-category
        人気のカテゴリー
      .main-firest-top-items
        .main-firest-top-ladys
          = link_to "レディース","#main-firest-top-ladys-contents"
        .main-firest-top-mens
          = link_to "メンズ","#main-firest-top-mens-contents"
        .main-firest-top-home_appliances
          = link_to "家電・スマホ・カメラ","#main-firest-top-home_appliances-contents"
        .main-firest-top-hobby
          = link_to "おもちゃ・ホビー・グッズ","#main-firest-top-hobby-contents"

    #main-firest-top-contents
      .main-firest-top-contents-new_arrival
        .main-firest-top-contents-new_arrival-left
          商品新着アイテム
        .main-firest-top-contents-new_arrival-right
          = link_to "もっと見る ＞", class:"link"
      .main-firest-top-photos
        %ul.main-firest-top-photos-parent
          - @products.each do |product|
            %li.main-firest-top-photos-parent_list
              .main-firest-top-photos-parent_list-body
                .main-firest-top-photos-parent_list-body-image
                  .main-firest-top-photos-parent_list-body-image-price
                    ¥
                    = product.price
                .main-firest-top-photos-parent_list-body-title
                  %figcaption.main-firest-top-photos-parent_list-body-title-a
                    = link_to product.name, product_path(product.id)
                    .transparent