.wrapper
  = icon('fas', 'chevron-right', class: 'icon')
  .box
    - @products.each do |product|
      %ul.products_lists
        %li.products_list
          = link_to "#{product.name}", product_path(product.id)

  .side_bar
    %ul.side_bar__list
      %li.side_bar__list__content 
        = link_to "マイページ", "#", class: "tab"
        = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "お知らせ", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "やることリスト", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "いいね！一覧", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "出品する", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "出品した商品-出品中", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "出品した商品-取引中", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "出品した商品-売却済み", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "購入した商品-取引中", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "購入した商品-過去の取引", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "ニュース一覧", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "評価一覧", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "ガイド", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "お問い合わせ", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')

    %h4 メルペイ
    %ul.side_bar__list
      %li.side_bar__list__content
        = link_to "売上・振込申請", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "ポイント", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')

    %h4 設定
    %ul.side_bar__list
      %li.side_bar__list__content
        = link_to "プロフィール", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "発送元・お届け先住所変更", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "支払い方法", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "メール/パスワード", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "本人情報", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "電話番号の確認", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
      %li.side_bar__list__content
        = link_to "ログアウト", "#", class: "tab" # リンク先未設定
        .icon
          = icon('fas', 'chevron-right', class: 'icon')
        
  = render "header.html.haml"
  = render "view.html.haml"
  = render "footer.html.haml"
  = render "sell-btn.html.haml"
